/* Johnathan Friend */

#history {
    padding: 5% 10% 5% 10%;
}

#history h1 {
    text-align: center;
    font-size: 3rem;
}

#image2 {
    float: right;
    padding-left: 10px;
}

#image1 {
    float: left;
    padding-right: 10px;
}

#business_trends {
    text-align: center;
    padding: 5% 10% 5% 10%;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    background-color: #ccc; 
    
  }
  
  th, td {
    border: 1px solid #000; /* Border for table cells */
    padding: 8px; /* Padding inside table cells */
  }